.header {
  padding-top: 25px;
  position: relative;
}

.header__block-1 {
  width: 100%;
  padding-left: 8%;
  padding-right: 8%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-end;
}

.header__nav--close {
  display: none;
}

.header__nav {
  width: 100%;
  padding-top: 20px;
  background-color: $white;
  padding-bottom: 20px;
  position: absolute;
  top: 80px;
  left: 0;
  z-index: 20;
}

.header__btn {
  background-color: $blue;
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 12px;
  padding-right: 12px;
  border-radius: 12px;
  box-shadow: inset 2.3px 2.3px 5.5px rgba(136, 165, 191, 0.48);

  &:hover {
    background-color: $blue-hover;
  }

  &:active {
    opacity: 0.7;
  }
}

.header__list {
  text-align: center;
}

.header__item {
  margin-bottom: 10px;

  &:last-child {
    margin-bottom: 0;
  }
}

.header__link {
  font-size: 18px;
  color: $blue;
  font-weight: 600;
  line-height: 25px;

  &:hover {
    color: $blue-hover;
  }

  &:active {
    opacity: 0.7;
  }
}

.header__logo {
  width: 37%;
}

.header__block {
  width: 100%;
  background: linear-gradient(180deg, $white, $main-background);
}

.header__img {
  width: 100%;
}

.header__img-bottles {
  width: 45%;
  position: absolute;
  right: 0;
  top: 41.5%;
}

.header__title {
  position: absolute;
  top: 36%;
  left: 8%;
  font-style: normal;
  font-weight: 700;
  font-size: 23.8607px;
  line-height: 29px;
  text-transform: uppercase;
  color: $white;
}

.header__block-2 {
  background-color: $main-background;
  width: 100%;
  padding-top: 23px;
  padding-bottom: 23px;
}

.header__form {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header__button {
  @include button-red;
  width: 34%;
  text-align: center;
}

.header__input {
  width: 40%;
  background: rgba(164, 234, 255, 0.5);
  border-radius: 5.6px;
  padding-left: 14px;
  padding-top: 8px;
  padding-bottom: 11px;
  color: $blue-2;
  font-style: normal;
  font-weight: 600;
  font-size: 14.3135px;
  line-height: 17px
}

.header__input::placeholder {
  color: $blue-2;
}

.header__img--desktop,
.header__img-bottles--desktop {
  display: none;
}


@media (min-width:$desktop-width) {
  .header {
    position: relative;
    padding-top: 0;
    background-color: $main-background;
  }

  .header__block-1 {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding-top: 8px;
    padding-bottom: 8px;
    background-color: rgba(255, 255, 255, 0.6);;
  }

  .header__list {
    display: flex;
    justify-content: space-between;
  }

  .header__block {
    background: none;
  }

  .header__nav {
    background: none;
    position: static;
    width: 56.5%;
  }

  .header__btn {
    display: none;
  }

  .header__logo {
    width: 23.8%;
  }

  .header__title {
    font-size: 56.8px;
    line-height: 69px;
    top: 29%;
    left: 8.5%;
  }

  .header__img-bottles,
  .header__img {
    display: none;
  }

  .header__img-bottles--desktop {
    display: block;
    width: 36.5%;
    position: absolute;
    right: 7%;
    top: 35%;
  }

  .header__img--desktop {
    display: block;
    width: 100%;
  }

  .header__block-2 {
    position: absolute;
    top: 69%;
    left: 8%;
    background: none;
    width: 36.4%;
    padding: 0;
  }


  .header__form {
    width: 100%;
  }

  .header__input {
    width: 54.5%;
    font-size: 25.3239px;
    line-height: 31px;
    padding-top: 15px;
    padding-bottom: 23px;
    margin-right: -5px;
    color: $white;
  }

  .header__input::placeholder {
    color: rgba(255, 255, 255, 0.6);
  }

  .header__button {
    width: 45.5%;
    font-size: 25.3px;
    line-height: 31px;
    padding-top: 19px;
    padding-bottom: 19px;
  }
}